.footer{
    background: #161E22;
    width: 100%;
    min-height: 251px;
}
.footer ul{
   list-style: none;
   padding-top: 40px;
}
.footer ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    
font-family: 'ReadexPro';
}
.footer p{
    font-family: 'ReadexProLight';
font-weight: 300;
font-size: 15px;
line-height: 19px;
color: #ffffff;
}
.margin-left{
    margin-left: 60px;
}
.footer hr{
    background: #173341 !important;
    border: 1px solid #173341;
}
.footer h6{
    font-weight: 400;
font-size: 11px;
line-height: 32px;
font-family: 'ReadexProLight';
color: #ffffff !important;
}

@media screen and (max-width: 500px){
.footer-logo{
 text-align: center;
}

}